.myHeader {
  color: red;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

.myParagraph {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.myInput {
  padding: 4px 6px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.bodyText {
  font-family: sans-serif;
  color: rgb(66, 66, 66);
}

.headingText {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: rgb(30, 30, 30);
}

.badge-margin {
  margin-left: 240px;
}
