.myHeader {
  color: red;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

.myParagraph {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.myInput {
  padding: 4px 6px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
